html,
body {
  background-color: grey;
  height: 100%;
}

body > #root > div {
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
}

.flex-1 {
  flex-direction: column;
  display: flex;
  width: auto;
  flex: 3;
}

.flex-2 {
  flex-direction: row;
  display: flex;
  width: auto;
  flex: 1;
}

.header {
  background-color: lightblue;
  border: double 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  flex: 1;
}

.input {
  background-color: rgba(91, 91, 83, 0.598);
  border: outset 5px;
  text-align: center;
  flex: 3;
}

.input-box {
  background-color: black;
  color: white;
  padding: 10px;
  height: 300px;
  width: 600px;
  border-radius: 1.5rem;
}

.status {
  background-color: rgba(198, 16, 16, 0.666);
  border: outset 5px;
  text-align: center;
  flex: 1;
}

.timer-display.pulse {
  animation: bulge 1s infinite;
  animation-delay: 0.6s;
}
